@import url("https://fonts.cdnfonts.com/css/netflix-font");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:
        Netflix Sans,
        Helvetica Neue,
        Segoe UI,
        Roboto,
        Ubuntu,
        sans-serif;
}

.background-img {
    background-image: url(./images/background.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.background {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.862),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.862)
    );
}

nav {
    width: 100vw;
    height: 10vh;
    align-items: center;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    padding: 3em 5em;
}

.logo {
    width: 15%;
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
nav .lang-button {
    height: 2.5em;
    display: flex;
}
.lang-button {
    height: 2.2em;
    padding: 0 0.75em;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.4em;
}
.lang-button select {
    background-color: transparent;
    color: white;
    all: unset;
    cursor: pointer;
}
.lang-button select option {
    color: black;
}
.lang-dropdown > button {
    padding: 1em;
}

.signin {
    height: 2.2em;
    width: 7em;
    padding: 0 1em;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
}
.signin:hover {
    background-color: rgb(210, 22, 22);
}

.unlimited-text {
    color: white;
    width: 50vw;
    height: 20vh;
    text-align: center;
    position: absolute;
    top: 32vh;
    left: 25vw;
}

.unlimited-text h1 {
    font-weight: bolder;
    font-size: 8vh;
}

.unlimited-text h4 {
    margin-top: 2.5vh;
}

.unlimited-text p {
    margin-top: 4vh;
    font-size: 2.3vh;
}

.email-input {
    width: 40vw;
    position: absolute;
    top: 67vh;
    left: 30vw;
    display: flex;
    gap: 0.5em;
    margin-top: 1em;
}

.input input {
    background-color: transparent;
    color: white;
    width: 25vw;
    height: 4em;
    border-radius: 0.2em;
    padding-left: 1em;
}
.input input[placeholder]{
    color: white;
}
.email-input button {
    width: 15vw;
    border: none;
    border-radius: 0.2em;
    background-color: red;
    color: white;
    cursor: pointer;
}
.email-input button h3 {
    font-size: 1.5em;
}
.curved-section-parent {
    height: 150px;
    width: 100vw;
    position: relative;
    top: 79vh;
    overflow: hidden;
}
.curved-section {
    width: 110vw;
    height: 150px;
    background: linear-gradient(
        to top,
        #000 50%,
        #1d284d 120%
    ); 
    border-top-left-radius: 100% 150px;
    border-top-right-radius: 100% 150px;
    box-shadow: inset 1 40px 60px -20px #000;
    position: absolute;
    left: -5vw;
    border-top: 6px solid #ff0066;
}
.page2 {
    width: 100vw;
    height: 250vh;
    background-color: black;
}
.page2 > h2 {
    position: relative;
    z-index: 10;
    margin-top: 5vh;
    margin-left: 8vw;
    color: white;
}
.trending {
    color: white;
    height: 40vh;
    width: 80vw;
    display: flex;
    gap: 2em;
    justify-content: center;
    justify-content: space-between;
    margin-top: 8vh;
    margin-left: 7vw;
}
.box {
    height: 38vh;
    width: 13vw;
    position: relative;
    transition: all 0.2s linear 0s;
}
.box img {
    width: 11em;
    border-radius: 0.5vw;
    position: relative;
    top: -19vh;
}
.box h1 {
    font-size: 12vh;
    font-weight: bolder;
    color: black;
    text-shadow:
        -2px -2px 0 white,
        -2px 2px 0 white,
        2px -2px 0 white,
        2px 2px 0 white;
    position: relative;
    top: 18vh;
    left: -2vh;
    z-index: 5;
}
.box:hover {
    transform: scale(1.06);
}
.more-reason-to-join {
    color: white;
    margin-left: 7.5vw;
}
.more-reason-to-join h2 {
    margin-bottom: 0.5em;
}
.reason-card-parent {
    width: 90vw;
    height: 35vh;
    display: flex;
    gap: 1em;
}
.reason-card {
    padding: 1em;
    width: 18em;
    border-radius: 0.5em;
    background-image: linear-gradient(120deg, #192144, #230e18);
}
.reason-card > h2 {
    font-size: 1.3em;
    color: white;
}
.reason-card p {
    font-size: 0.9em;
    color: gray;
}
.faq {
    margin-top: 8vh;
    margin-left: 7vw;
    color: white;
}
.faq-box-container {
    width: 86.5vw;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.faq-box {
    background-color: #2d2d2d;
    height: 4.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
    cursor: pointer;
}
.faq-box:hover{
    background-color: #414141;
}
.faq-box p {
    font-size: 1.2em;
}
.netflix-footer {
    background: #000;
    color: #b3b3b3;
    padding: 3em 5em;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.footer-call {
    margin-bottom: 2em;
}

.footer-call a {
    color: #b3b3b3;
    text-decoration: underline;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    margin-bottom: 2em;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 0.8em;
}

.footer-links a {
    color: #b3b3b3;
    text-decoration: underline;
}

.footer-lang {
    margin-bottom: 1.5em;
}

.footer-lang select {
    background: #000;
    color: #fff;
    border: 1px solid #333;
    padding: 0.6em 1.2em;
    font-size: 14px;
}

.footer-country {
    margin-bottom: 1em;
}

.footer-last {
    font-size: 13px;
    color: #8c8c8c;
}

.footer-last a {
    color: #0071eb;
    text-decoration: none;
}
